@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.container {
  max-width: 1110px;
  /* background-color: #777; */
  margin-left: auto;
  margin-right: auto;
}
.none {
  display: none !important;
}

/*header*/
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100%;
  background-color: #1e4776;
  background-image: url("./../img/header/header-bg2.jpg");
  background-size: cover;
  background-position: center;

  color: white;
}

.header-title {
  font-weight: 700;
  line-height: 130%;
  font-size: 56px;
  text-align: center;
  margin-bottom: 25px;
}
.header-subtitle {
  font-weight: 700;
  line-height: 24px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.header-arrow {
  width: 48px;
  height: 48px;
  /*background-image: url("./../img/header/chevron-down.svg");*/
  position: absolute;
  bottom: 0;
  left: auto;
  margin-bottom: 30px;
}

/*portfolio*/

.portfolio {
  max-width: 1440px;
  padding-top: 80px;
  padding-bottom: 115px;
}

.portfolio-header {
  margin: 0;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 46px;
  line-height: 130%;
  text-align: center;
}
.portfolio-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  background: #ffffff;
  padding: 20px;
  max-width: 540px;
  box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
  margin-bottom: 30px;
}
/* убрать отступы вниз у двух последних карточек */
/* .card:last-child, .card:nth-last-child(2){
    margin-bottom: 0;
} */

.card-img {
  margin-bottom: 20px;
}
.card-title {
  margin: 0;
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 24px;
  line-height: 130%;
}
.card-text {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 130%;
}

/* footer */
.footer {
  background: #1e4776;
  padding-top: 45px;
  padding-bottom: 100px;
  color: #fff;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-copyright {
  color: #7e9ec9;
  line-height: 1.3;
  max-width: 350px;
  flex-grow: 1;

}
.footer-copyright-name {
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 15px;
}

.footer-copyright-name p {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 16px;
}

.footer-icons {
  max-width: 350px;
  flex-grow: 1;


}
.footer-icons p {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.3;
}

.footer-icons-signs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.footer-contact {
  max-width: 350px;
  flex-grow: 1;

}
.footer-button {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 16px;

  border: 3px solid #ffffff;
  /* box-sizing: border-box; */
  display: inline-block;
  border-radius: 50px;
  padding: 15px 30px;
  height: 50px;
  color: #ffffff;
  align-items: center;
  text-decoration: none;
}

.footer-contact p {
  margin: 0 15px;
  font-size: 16px;
  line-height: 1.3;
  color: #7e9ec9;
}
